.hoiku
  .hoiku-header
    .hoiku-header_name
      AA保育園
    .hoiku-header_keizi
      掲示板
    .hoiku-header_create
      - if user_signed_in? && current_user.id == 1
        =form_with do |f|
          =f.button "投稿する", class: "sidebar_btn", onclick: "location.href='/recipes/new'"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "sidebar0_btn"
      -elsif user_signed_in?
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "sidebar0_btn"
  .hoiku_main
    .hoiku_main_sidebar
      = render "tweets/sidebar"
    .hoiku_main_message
      .hoiku_main_message_introduction
        ここでは、実際に保育園で作っている給食の一部を紹介します。
        %br
        どの料理も子どもたちに大人気！
        %br
        レシピも紹介するので、ぜひ作ってみてくださいね！
      - @recipe.each do |recipe|
        .hoiku_main_message1
          .hoiku_main_message1_title
            = recipe.title
          .hoiku_main_message1_image
            = image_tag recipe.image.url, class: 'lower-message__image' if recipe.image.present?
          .hoiku_main_message1_content
            = simple_format(recipe.food)
          .hoiku_main_message1_content2
            = simple_format(recipe.recipe)
          .hoiku_main_message1_time
            = recipe.created_at.strftime("%Y年%m月%d日")
            - if user_signed_in? && current_user.id == 1
              =link_to "削除","/recipes/#{recipe.id}",method: :delete, class: "destroy_btn"
              =link_to "編集","/recipes/#{recipe.id}/edit", method: :get, class: "edit_btn"
  